In [2]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import sqlite3 as sql

In [3]:
conn = sql.connect('database.sqlite')

In [4]:
c= conn.cursor()

# Question 1 
(20 points)​: Write a SQL query that lists all the players born between 1987 and 1990 inclusive, sort them from the oldest to the youngest. The output of this query should be of the form:
Player Name | Birthday

In [48]:
query = pd.read_sql("""SELECT player_name as PlayerName, birthday as Birthday
                       FROM Player
                       WHERE birthday BETWEEN 1987 AND 1991
                       ORDER BY birthday ASC
                       ;""",conn)
query.head(99000)

                     PlayerName             Birthday
0                 Abdullah Omar  1987-01-01 00:00:00
1                   Ben Alnwick  1987-01-01 00:00:00
2                     Celestino  1987-01-02 00:00:00
3                     Loic Remy  1987-01-02 00:00:00
4                 Robert Milsom  1987-01-02 00:00:00
5                  Chris Turner  1987-01-03 00:00:00
6                  Dani Estrada  1987-01-03 00:00:00
7                     Luis Dias  1987-01-03 00:00:00
8                 Danny Simpson  1987-01-04 00:00:00
9                 Hans Martinez  1987-01-04 00:00:00
10                    Kay Voser  1987-01-04 00:00:00
11             Przemyslaw Tyton  1987-01-04 00:00:00
12            Esteban Casagolda  1987-01-05 00:00:00
13                 Migjen Basha  1987-01-05 00:00:00
14         Claudio Lustenberger  1987-01-06 00:00:00
15                Davide Astori  1987-01-07 00:00:00
16           Michael McGlinchey  1987-01-07 00:00:00
17               Stefan Babovic  1987-01-07 00:00:00
18                  David Wijns  1987-01-09 00:00:00
19                  Lucas Leiva  1987-01-09 00:00:00
20              Michele Rinaldi  1987-01-09 00:00:00
21                  Jamie Vardy  1987-01-11 00:00:00
22               Steven Vitoria  1987-01-11 00:00:00
23                 Nathan Doyle  1987-01-12 00:00:00
24             Salvatore Sirigu  1987-01-12 00:00:00
25                       Arthur  1987-01-14 00:00:00
26                  Dennis Aogo  1987-01-14 00:00:00
27            Julien Faussurier  1987-01-14 00:00:00
28                 Kevin Dupuis  1987-01-14 00:00:00
29              Bart van Hintum  1987-01-16 00:00:00
...                         ...                  ...
2913                Abel Tamata  1990-12-05 00:00:00
2914                     Cleber  1990-12-05 00:00:00
2915              Lorenzo Lollo  1990-12-08 00:00:00
2916        Vitalijs Maksimenko  1990-12-08 00:00:00
2917             Craig Eastmond  1990-12-09 00:00:00
2918        Alexandre Letellier  1990-12-11 00:00:00
2919                      Renan  1990-12-12 00:00:00
2920               Victor Moses  1990-12-12 00:00:00
2921             Chris Chantler  1990-12-16 00:00:00
2922          Christoph Hemlein  1990-12-16 00:00:00
2923                Henri Anier  1990-12-17 00:00:00
2924               Alexi Peuget  1990-12-18 00:00:00
2925          Arvydas Novikovas  1990-12-18 00:00:00
2926              Alberto Perea  1990-12-19 00:00:00
2927                Alioun Fall  1990-12-20 00:00:00
2928                 Toko Nzuzi  1990-12-20 00:00:00
2929        Ioannis Fetfatzidis  1990-12-21 00:00:00
2930                 Jo Coppens  1990-12-21 00:00:00
2931            Daniel Kaufmann  1990-12-22 00:00:00
2932           Brice Dja Djedje  1990-12-23 00:00:00
2933             Jaap van Duijn  1990-12-23 00:00:00
2934                Samuel Afum  1990-12-24 00:00:00
2935               Aaron Ramsey  1990-12-26 00:00:00
2936            Denis Cheryshev  1990-12-26 00:00:00
2937          Jarchinio Antonia  1990-12-27 00:00:00
2938  Abdoulaye Diallo Sadio,22  1990-12-28 00:00:00
2939              Marcos Alonso  1990-12-28 00:00:00
2940              Sofiane Hanni  1990-12-29 00:00:00
2941             Bruno Henrique  1990-12-30 00:00:00
2942           Nathan Eccleston  1990-12-30 00:00:00

[2943 rows x 2 columns]

# Question 2 
(20 points)​: Write a SQL query that ranks all countries and leagues based on the total amount of total goals scored per game in the whole dataset. Sort them by the largest to the smallest amount of goals. Note: Read this carefully. The output of this query should be of the form:
Country | League Name |Total Goals Scored

In [11]:
match_league = pd.read_sql("""SELECT m.country_id,lg.name,m.season,m.stage,m.date,m.match_api_id,m.home_team_api_id,m.away_team_api_id,m.home_team_goal,m.away_team_goal
                              FROM match m
                              JOIN league lg
                              ON m.league_id = lg.id""",conn)
match_league.to_sql("match_league", conn, if_exists="replace")
match_league.head(5000)

    
query = pd.read_sql("""SELECT
                       name,
                       SUM(home_team_goal+away_team_goal) 
                        FROM
                       match_league
                        GROUP BY name
                    ORDER BY SUM(home_team_goal+away_team_goal) DESC;""",conn)
query.head(5000)

                        name  SUM(home_team_goal+away_team_goal)
0            Spain LIGA BBVA                                8412
1     England Premier League                                8240
2              Italy Serie A                                7895
3     Netherlands Eredivisie                                7542
4             France Ligue 1                                7427
5      Germany 1. Bundesliga                                7103
6   Portugal Liga ZON Sagres                                5201
7     Belgium Jupiler League                                4841
8    Scotland Premier League                                4804
9         Poland Ekstraklasa                                4656
10  Switzerland Super League                                4166

# Question 3 
(20 points)​: Write a SQL query that ranks all teams by the average of all their attributes (not the players' attributes), sort them from best to worst. The output of this query should be of the form:
Team Long Name | Average of Attributes

In [45]:


query = pd.read_sql("""SELECT team_long_name as TeamLongName, ROUND(AVG(((buildUpPlaySpeed + buildUpPlayDribbling + buildUpPlayPassing +chanceCreationPassing +chanceCreationCrossing +chanceCreationShooting +defenceAggression +defencePressure +defenceTeamWidth )/ 9)), 2) as TeamStats
        FROM Team
         JOIN Team_Attributes Y on Team.team_api_id= Y.team_api_id
        GROUP BY TeamLongName
        HAVING TeamStats NOT NULL
        ORDER BY TeamStats DESC;""",conn)
query.head(500000)

                 TeamLongName  TeamStats
0                       Lazio       62.5
1                    FC Porto       59.0
2                  SL Benfica       59.0
3                     Udinese       59.0
4                      Napoli       58.5
5             Birmingham City       57.0
6               Chievo Verona       57.0
7                    FC Basel       57.0
8               VfL Wolfsburg       57.0
9                 Widzew Łódź       57.0
10                   Aberdeen       56.5
11        TSG 1899 Hoffenheim       56.5
12                    Burnley       56.0
13                     Celtic       56.0
14                Lech Poznań       56.0
15                      Milan       56.0
16                      Inter       55.5
17          Borussia Dortmund       55.0
18                 Granada CF       55.0
19     Hamilton Academical FC       55.0
20        Heart of Midlothian       55.0
21             Leicester City       55.0
22                   Sassuolo       55.0
23                Sporting CP       55.0
24                     Torino       55.0
25        Bayer 04 Leverkusen       54.5
26                CD Tenerife       54.5
27                CS Marítimo       54.5
28        Paris Saint-Germain       54.5
29                   Cagliari       54.0
..                        ...        ...
230             Moreirense FC       46.0
231                Portsmouth       46.0
232              RCD Espanyol       46.0
233                SC Cambuur       46.0
234          SV Zulte-Waregem       46.0
235             Villarreal CF       46.0
236              Cardiff City       45.5
237                 FC Twente       45.5
238               Hannover 96       45.5
239             Śląsk Wrocław       45.5
240                 Excelsior       45.0
241                  FC Vaduz       45.0
242                 Hibernian       45.0
243               KV Kortrijk       45.0
244                Stoke City       45.0
245               Valencia CF       45.0
246                 Getafe CF       44.0
247             RC Recreativo       44.0
248          Roda JC Kerkrade       44.0
249            Ross County FC       44.0
250                 NAC Breda       43.5
251              Swansea City       43.5
252             FC St. Gallen       43.0
253           Manchester City       43.0
254                    Fulham       42.5
255            S.C. Olhanense       42.0
256              RKC Waalwijk       41.0
257          FC Bayern Munich       40.0
258  Borussia Mönchengladbach       39.5
259          Waasland-Beveren       37.5

[260 rows x 2 columns]

# Question 4 
(20 points)​: Write a SQL query that ranks all teams by the average of their players' attributes, sort them by descending order displaying only the top 5. The output of this query should be of the form:

Team Name| Number of Players | Player Attribute Average

In [50]:
attribute = pd.read_sql("""SELECT pa.date,pl.player_api_id,pl.player_name,pa.acceleration,pa.sprint_speed,pa.stamina,pa.agility,pa.reactions
                           FROM player pl
                           JOIN player_Attributes pa
                           ON pl.player_api_id = pa.player_api_id
                           """,conn)
attribute.head(990000)

,date,player_api_id,player_name,acceleration,sprint_speed,stamina,agility,reactions
0,2016-02-18 00:00:00,505942,Aaron Appindangoye,60.0,64.0,54.0,59.0,47.0
1,2015-11-19 00:00:00,505942,Aaron Appindangoye,60.0,64.0,54.0,59.0,47.0
2,2015-09-21 00:00:00,505942,Aaron Appindangoye,60.0,64.0,54.0,59.0,47.0
3,2015-03-20 00:00:00,505942,Aaron Appindangoye,60.0,64.0,54.0,59.0,46.0
4,2007-02-22 00:00:00,505942,Aaron Appindangoye,60.0,64.0,54.0,59.0,46.0
5,2016-04-21 00:00:00,155782,Aaron Cresswell,79.0,78.0,79.0,78.0,67.0
6,2016-04-07 00:00:00,155782,Aaron Cresswell,79.0,78.0,79.0,78.0,67.0
7,2016-01-07 00:00:00,155782,Aaron Cresswell,79.0,78.0,79.0,78.0,67.0
8,2015-12-24 00:00:00,155782,Aaron Cresswell,79.0,78.0,79.0,78.0,67.0
9,2015-12-17 00:00:00,155782,Aaron Cresswell,79.0,78.0,79.0,78.0,67.0
10,2015-10-16 00:00:00,155782,Aaron Cresswell,79.0,78.0,79.0,78.0,67.0
11,2015-09-25 00:00:00,155782,Aaron Cresswell,80.0,78.0,79.0,78.0,67.0
12,2015-09-21 00:00:00,155782,Aaron Cresswell,79.0,78.0,79.0,78.0,67.0
13,2015-01-09 00:00:00,155782,Aaron Cresswell,79.0,82.0,79.0,79.0,71.0
14,2014-12-05 00:00:00,155782,Aaron Cresswell,79.0,82.0,79.0,79.0,71.0
15,2014-11-07 00:00:00,155782,Aaron Cresswell,79.0,82.0,79.0,79.0,71.0
16,2014-09-18 00:00:00,155782,Aaron Cresswell,79.0,82.0,79.0,79.0,69.0
17,2014-05-02 00:00:00,155782,Aaron Cresswell,84.0,82.0,80.0,81.0,69.0
18,2014-04-04 00:00:00,155782,Aaron Cresswell,84.0,82.0,80.0,81.0,69.0
19,2014-03-14 00:00:00,155782,Aaron Cresswell,84.0,82.0,79.0,81.0,69.0
20,2013-12-13 00:00:00,155782,Aaron Cresswell,84.0,82.0,79.0,81.0,71.0
21,2013-11-08 00:00:00,155782,Aaron Cresswell,84.0,82.0,79.0,81.0,71.0
22,2013-10-04 00:00:00,155782,Aaron Cresswell,84.0,82.0,77.0,81.0,70.0
23,2013-09-20 00:00:00,155782,Aaron Cresswell,84.0,82.0,76.0,81.0,70.0
24,2013-05-03 00:00:00,155782,Aaron Cresswell,84.0,81.0,74.0,77.0,70.0
25,2013-03-22 00:00:00,155782,Aaron Cresswell,84.0,81.0,74.0,77.0,70.0
26,2013-03-15 00:00:00,155782,Aaron Cresswell,84.0,81.0,74.0,77.0,70.0
27,2013-02-22 00:00:00,155782,Aaron Cresswell,85.0,81.0,74.0,81.0,70.0
28,2013-02-15 00:00:00,155782,Aaron Cresswell,85.0,81.0,74.0,81.0,70.0
29,2012-08-31 00:00:00,155782,Aaron Cresswell,85.0,81.0,73.0,81.0,70.0
...,...,...,...,...,...,...,...,...
183948,2012-02-22 00:00:00,111182,Zsolt Laczko,75.0,72.0,80.0,62.0,61.0
183949,2011-08-30 00:00:00,111182,Zsolt Laczko,75.0,72.0,80.0,62.0,61.0
183950,2011-02-22 00:00:00,111182,Zsolt Laczko,75.0,70.0,70.0,69.0,61.0
183951,2010-08-30 00:00:00,111182,Zsolt Laczko,75.0,70.0,70.0,62.0,61.0
183952,2007-02-22 00:00:00,111182,Zsolt Laczko,75.0,70.0,70.0,62.0,61.0
183953,2011-02-22 00:00:00,36491,Zsolt Low,71.0,73.0,70.0,59.0,69.0
183954,2010-08-30 00:00:00,36491,Zsolt Low,71.0,73.0,70.0,59.0,69.0
183955,2009-08-30 00:00:00,36491,Zsolt Low,71.0,73.0,70.0,59.0,71.0
183956,2009-02-22 00:00:00,36491,Zsolt Low,71.0,73.0,70.0,59.0,71.0
183957,2008-08-30 00:00:00,36491,Zsolt Low,71.0,71.0,70.0,59.0,68.0
183958,2007-08-30 00:00:00,36491,Zsolt Low,71.0,71.0,70.0,59.0,68.0
183959,2007-02-22 00:00:00,36491,Zsolt Low,71.0,71.0,70.0,59.0,68.0
183960,2011-02-22 00:00:00,35506,Zurab Khizanishvili,66.0,66.0,68.0,56.0,62.0
183961,2010-08-30 00:00:00,35506,Zurab Khizanishvili,60.0,60.0,68.0,56.0,62.0
183962,2010-02-22 00:00:00,35506,Zurab Khizanishvili,64.0,61.0,69.0,56.0,62.0
183963,2009-08-30 00:00:00,35506,Zurab Khizanishvili,64.0,61.0,74.0,56.0,62.0
183964,2009-02-22 00:00:00,35506,Zurab Khizanishvili,64.0,61.0,74.0,56.0,62.0
183965,2008-08-30 00:00:00,35506,Zurab Khizanishvili,64.0,61.0,74.0,56.0,62.0
183966,2007-08-30 00:00:00,35506,Zurab Khizanishvili,64.0,61.0,74.0,56.0,62.0
183967,2007-02-22 00:00:00,35506,Zurab Khizanishvili,74.0,61.0,63.0,56.0,68.0
183968,2012-08-31 00:00:00,39902,Zvjezdan Misimovic,59.0,63.0,50.0,81.0,70.0
183969,2012-02-22 00:00:00,39902,Zvjezdan Misimovic,59.0,63.0,50.0,81.0,74.0
183970,2011-08-30 00:00:00,39902,Zvjezdan Misimovic,60.0,63.0,50.0,81.0,74.0
183971,2011-02-22 00:00:00,39902,Zvjezdan Misimovic,65.0,69.0,71.0,77.0,83.0
183972,2010-08-30 00:00:00,39902,Zvjezdan Misimovic,65.0,69.0,71.0,77.0,86.0
183973,2009-08-30 00:00:00,39902,Zvjezdan Misimovic,66.0,72.0,72.0,77.0,86.0
183974,2009-02-22 00:00:00,39902,Zvjezdan Misimovic,66.0,67.0,66.0,77.0,74.0
183975,2008-08-30 00:00:00,39902,Zvjezdan Misimovic,66.0,67.0,66.0,77.0,74.0
183976,2007-08-30 00:00:00,39902,Zvjezdan Misimovic,61.0,60.0,67.0,77.0,69.0
183977,2007-02-22 00:00:00,39902,Zvjezdan Misimovic,58.0,64.0,67.0,77.0,66.0

# Question 5 
(40 points)​: Write a SINGLE SQL query that finds the date that had the most goals scored on, per each different season and league. The output of this query should be of the form:
Date (dd/mm/yy) | Season | League Name | Goals scored

In [33]:
query = pd.read_sql("""SELECT strftime('%d/%m/%Y', date) as 'Date(dd/mm/yy',season as Season, n.name LeagueName,
       MAX(ake.home_team_goal + ake.away_team_goal) as GoalsScored
        FROM Match ake
         JOIN League n on ake.league_id = n.id
            GROUP BY Season, LeagueName
            ORDER BY LeagueName, Season;""",conn)
query.head(500000)

   Date(dd/mm/yy     Season                LeagueName  GoalsScored
0     25/10/2008  2008/2009    Belgium Jupiler League            8
1     04/12/2009  2009/2010    Belgium Jupiler League            7
2     20/11/2010  2010/2011    Belgium Jupiler League            8
3     29/10/2011  2011/2012    Belgium Jupiler League            9
4     17/11/2012  2012/2013    Belgium Jupiler League            8
5     19/04/2014  2013/2014    Belgium Jupiler League            6
6     17/01/2015  2014/2015    Belgium Jupiler League            8
7     30/08/2015  2015/2016    Belgium Jupiler League            8
8     29/10/2008  2008/2009    England Premier League            8
9     22/11/2009  2009/2010    England Premier League           10
10    27/11/2010  2010/2011    England Premier League            8
11    28/08/2011  2011/2012    England Premier League           10
12    29/12/2012  2012/2013    England Premier League           10
13    14/12/2013  2013/2014    England Premier League            9
14    30/08/2014  2014/2015    England Premier League            9
15    23/01/2016  2015/2016    England Premier League            9
16    09/08/2008  2008/2009            France Ligue 1            8
17    08/11/2009  2009/2010            France Ligue 1           10
18    05/12/2010  2010/2011            France Ligue 1            9
19    12/02/2012  2011/2012            France Ligue 1            9
20    28/10/2012  2012/2013            France Ligue 1            8
21    20/04/2014  2013/2014            France Ligue 1            8
22    26/10/2014  2014/2015            France Ligue 1            9
23    13/03/2016  2015/2016            France Ligue 1            9
24    27/09/2008  2008/2009     Germany 1. Bundesliga            9
25    12/12/2009  2009/2010     Germany 1. Bundesliga            8
26    29/08/2010  2010/2011     Germany 1. Bundesliga            9
27    10/03/2012  2011/2012     Germany 1. Bundesliga            8
28    30/03/2013  2012/2013     Germany 1. Bundesliga           11
29    09/11/2013  2013/2014     Germany 1. Bundesliga            8
..           ...        ...                       ...          ...
58    18/12/2010  2010/2011  Portugal Liga ZON Sagres            7
59    11/03/2012  2011/2012  Portugal Liga ZON Sagres            8
60    25/11/2012  2012/2013  Portugal Liga ZON Sagres            8
61    28/09/2013  2013/2014  Portugal Liga ZON Sagres            7
62    29/11/2014  2014/2015  Portugal Liga ZON Sagres            7
63    14/12/2015  2015/2016  Portugal Liga ZON Sagres            7
64    06/12/2008  2008/2009   Scotland Premier League            8
65    05/05/2010  2009/2010   Scotland Premier League           12
66    06/11/2010  2010/2011   Scotland Premier League            9
67    05/11/2011  2011/2012   Scotland Premier League            9
68    29/09/2012  2012/2013   Scotland Premier League            9
69    19/10/2013  2013/2014   Scotland Premier League            7
70    01/01/2015  2014/2015   Scotland Premier League            8
71    19/01/2016  2015/2016   Scotland Premier League            9
72    08/03/2009  2008/2009           Spain LIGA BBVA            8
73    21/02/2010  2009/2010           Spain LIGA BBVA            8
74    23/04/2011  2010/2011           Spain LIGA BBVA            9
75    06/11/2011  2011/2012           Spain LIGA BBVA            8
76    20/10/2012  2012/2013           Spain LIGA BBVA            9
77    30/10/2013  2013/2014           Spain LIGA BBVA           10
78    05/04/2015  2014/2015           Spain LIGA BBVA           10
79    20/12/2015  2015/2016           Spain LIGA BBVA           12
80    15/03/2009  2008/2009  Switzerland Super League            8
81    25/10/2009  2009/2010  Switzerland Super League            9
82    12/09/2010  2010/2011  Switzerland Super League            8
83    12/05/2012  2011/2012  Switzerland Super League            9
84    30/09/2012  2012/2013  Switzerland Super League            8
85    16/02/2014  2013/2014  Switzerland Super League            8
86    30/04/2015  2014/2015  Switzerland Super League            8
87    17/04/2016  2015/2016  Switzerland Super League            9

[88 rows x 4 columns]

# Extra Credit- Graduate Student Task
(40 points)​: Write a SINGLE SQL query that finds the top 5 teams in terms of goals scored PER league for the 2008/2009 season. The output of this query should be of the form:
Season | League | Rank | Team Name | Goals Scored